.info-client {
    border-radius: 4px;
    border: 1px solid #09907a;
    width: 300px;
    height: 300px;
    margin-top: 100px;
    text-align: -webkit-center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-client-content{
    text-align: -webkit-center;
}

.infos{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.info-id {
    height: 50%;
    display: flex; /* Ajout de la propriété display:flex */
    align-items: center; /* Centrage vertical */
    justify-content: center;
    color: #09907a;
    font-size: 30px;
}

.info-offers {
    height: 50%;
    display: flex; /* Ajout de la propriété display:flex */
    align-items: center; /* Centrage vertical */
    justify-content: center;
}

.info-button{
    border: #09907a 1px solid;
    border-radius: 4px;
    padding: 10px;
    font-size: 20px;
    color: #09907a;
    box-shadow: 2px 2px 1px #09907a;
    width: 100%;
}

.info-button:hover {
    box-shadow: -2px -2px 1px #09907a; /* Inversion de la box shadow lors du survol */
}

.input{
    border-radius: 4px;
    border: #09907a 1px solid;
    text-align: -webkit-center;
}
.empty-id{
    color: darkred;
    font-size: 25px;
}

.home-info-link{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.home-input{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #09907a;
}

.input-style{
    font-size: 25px;
}

.home-info{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-home{
    height: 100%;
    display: flex;
    flex-direction: column;
}