.transactions-list{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}

.transaction-item{
    display: flex;
    flex-direction: row;
    gap: 30px;
    border: 1px solid #09907a;
    border-radius: 4px;
    width: 1000px;
    height: 50px;
    align-self: center;
    place-content: center;
    align-items: center;
    font-size: 19px;
}