.mat-expansion-panel-header {
  height: 64px;
  min-height: 64px;
}

.mat-expansion-panel-header .mat-content {
  font-size: 20px;
  padding: 0 24px;
}

.mat-expansion-indicator {
  align-self: center;
}

app-banker, app-client, app-transaction {
  width: 100%;
}

